*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

!lambda/handler.js
!lambda/config.example.js
!lambda/config.d.ts
!lambda/lib/metrics.js
!lambda/lib/filterSpam.js
